# Hacklytics 2021
Anusha, Edward, Pravallika, Safia

Anusha

Edward

# Import Required Tools

In [8]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

# Initial Data Exploration

Load files

In [9]:
country = "US"
url_start = "https://raw.githubusercontent.com/SafiaKhaleel/Hacklytics2021/main"
mobility_subfolder = "/Region_Mobility_Report_CSVs"
file_name = "/2020_" + country + "_Region_Mobility_Report.csv"
print(url_start + mobility_subfolder + file_name)
country_df = pd.read_csv(url_start + mobility_subfolder + file_name)

https://raw.githubusercontent.com/SafiaKhaleel/Hacklytics2021/main/Region_Mobility_Report_CSVs/2020_US_Region_Mobility_Report.csv

Preview

In [10]:
print(country_df.shape)
country_df.head()

(892368, 14)

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-15,6.0,2.0,15.0,3.0,2.0,-1.0
1,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-16,7.0,1.0,16.0,2.0,0.0,-1.0
2,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-17,6.0,0.0,28.0,-9.0,-24.0,5.0
3,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-18,0.0,-1.0,6.0,1.0,0.0,1.0
4,US,United States,NaN,NaN,NaN,NaN,NaN,2020-02-19,2.0,0.0,8.0,1.0,1.0,0.0

See how many values are missing

In [11]:
print(country_df.isnull().sum())

country_region_code                                        0
country_region                                             0
sub_region_1                                             352
sub_region_2                                           18304
metro_area                                            892368
iso_3166_2_code                                       874416
census_fips_code                                       17952
date                                                       0
retail_and_recreation_percent_change_from_baseline    299200
grocery_and_pharmacy_percent_change_from_baseline     354737
parks_percent_change_from_baseline                    674297
transit_stations_percent_change_from_baseline         550962
workplaces_percent_change_from_baseline                25478
residential_percent_change_from_baseline              410488
dtype: int64

A lot of values seem to be missing. After exploring the data manually, it appears that there are many counties with incomplete data. Let us focus on the counties that have complete data. To do this, we drop the rows with incomplete data.

In [12]:
places = ['retail_and_recreation','grocery_and_pharmacy','parks','transit_stations','workplaces','residential']
places_percent_change = [place + '_percent_change_from_baseline' for place in places]
clean_country_df = country_df.dropna(axis = 0, subset = places_percent_change)
print(clean_country_df.isnull().sum())

country_region_code                                        0
country_region                                             0
sub_region_1                                             352
sub_region_2                                           17849
metro_area                                            172174
iso_3166_2_code                                       154677
census_fips_code                                       17497
date                                                       0
retail_and_recreation_percent_change_from_baseline         0
grocery_and_pharmacy_percent_change_from_baseline          0
parks_percent_change_from_baseline                         0
transit_stations_percent_change_from_baseline              0
workplaces_percent_change_from_baseline                    0
residential_percent_change_from_baseline                   0
dtype: int64

See which counties have enough entries

In [13]:
county_grouped_df = clean_country_df.groupby(['sub_region_1','sub_region_2']).count().reset_index()
print(county_grouped_df['date'])
state_county_pair = county_grouped_df[['sub_region_1', 'sub_region_2']][county_grouped_df['date']>300]
print(state_county_pair)

0      327
1        1
2      163
3      155
4       12
      ...
694     10
695    281
696    172
697    276
698    234
Name: date, Length: 699, dtype: int64
      sub_region_1       sub_region_2
0          Alabama     Baldwin County
7          Alabama     Madison County
8          Alabama      Mobile County
9          Alabama  Montgomery County
10         Alabama      Morgan County
..             ...                ...
671     Washington      Yakima County
675  West Virginia     Kanawha County
679      Wisconsin       Brown County
680      Wisconsin        Dane County
686      Wisconsin   Milwaukee County

[321 rows x 2 columns]

Only keep those counties in dataframe

In [14]:
merged = clean_country_df.merge(state_county_pair, how='outer', indicator=True)
merged[merged['_merge'] =='both'].index
clean_country_df = clean_country_df[(merged['_merge'] =='both').values]
#clean_country_df = clean_country_df[clean_country_df['sub_region_2'] in state_county_pair.]
clean_country_df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
1050,US,United States,Alabama,Baldwin County,NaN,NaN,1003.0,2020-02-15,17.0,12.0,55.0,8.0,6.0,-2.0
1051,US,United States,Alabama,Baldwin County,NaN,NaN,1003.0,2020-02-16,8.0,8.0,-12.0,7.0,-3.0,2.0
1052,US,United States,Alabama,Baldwin County,NaN,NaN,1003.0,2020-02-17,9.0,9.0,31.0,7.0,-3.0,1.0
1053,US,United States,Alabama,Baldwin County,NaN,NaN,1003.0,2020-02-18,7.0,8.0,21.0,0.0,2.0,0.0
1054,US,United States,Alabama,Baldwin County,NaN,NaN,1003.0,2020-02-19,12.0,9.0,41.0,8.0,3.0,-1.0

Plot for one particular county

In [23]:
state, county = state_county_pair.loc[0]
state_idx = clean_country_df['sub_region_1']==state
county_idx = clean_country_df['sub_region_2']==county
clean_county_df = clean_country_df[state_idx & county_idx]

     country_region_code country_region sub_region_1    sub_region_2  \
1050                  US  United States      Alabama  Baldwin County
1051                  US  United States      Alabama  Baldwin County
1052                  US  United States      Alabama  Baldwin County
1053                  US  United States      Alabama  Baldwin County
1054                  US  United States      Alabama  Baldwin County
...                  ...            ...          ...             ...
1397                  US  United States      Alabama  Baldwin County
1398                  US  United States      Alabama  Baldwin County
1399                  US  United States      Alabama  Baldwin County
1400                  US  United States      Alabama  Baldwin County
1401                  US  United States      Alabama  Baldwin County

      metro_area iso_3166_2_code  census_fips_code        date  \
1050         NaN             NaN            1003.0  2020-02-15
1051         NaN             NaN            1003.0  2020-02-16
1052         NaN             NaN            1003.0  2020-02-17
1053         NaN             NaN            1003.0  2020-02-18
1054         NaN             NaN            1003.0  2020-02-19
...          ...             ...               ...         ...
1397         NaN             NaN            1003.0  2021-01-27
1398         NaN             NaN            1003.0  2021-01-28
1399         NaN             NaN            1003.0  2021-01-29
1400         NaN             NaN            1003.0  2021-01-30
1401         NaN             NaN            1003.0  2021-01-31

      retail_and_recreation_percent_change_from_baseline  \
1050                                               17.0
1051                                                8.0
1052                                                9.0
1053                                                7.0
1054                                               12.0
...                                                 ...
1397                                              -11.0
1398                                              -13.0
1399                                              -14.0
1400                                               -9.0
1401                                              -13.0

      grocery_and_pharmacy_percent_change_from_baseline  \
1050                                               12.0
1051                                                8.0
1052                                                9.0
1053                                                8.0
1054                                                9.0
...                                                 ...
1397                                               -4.0
1398                                               -4.0
1399                                               -8.0
1400                                               -3.0
1401                                                0.0

      parks_percent_change_from_baseline  \
1050                                55.0
1051                               -12.0
1052                                31.0
1053                                21.0
1054                                41.0
...                                  ...
1397                                 9.0
1398                                -9.0
1399                                16.0
1400                                23.0
1401                                 2.0

      transit_stations_percent_change_from_baseline  \
1050                                            8.0
1051                                            7.0
1052                                            7.0
1053                                            0.0
1054                                            8.0
...                                             ...
1397                                          -10.0
1398                                          -12.0
1399                                          -13.0
1400                                          -16.0
1401                                           -6.0

      workplaces_percent_change_from_baseline  \
1050                                      6.0
1051                                     -3.0
1052                                     -3.0
1053                                      2.0
1054                                      3.0
...                                       ...
1397                                    -20.0
1398                                    -20.0
1399                                    -22.0
1400                                    -12.0
1401                                    -19.0

      residential_percent_change_from_baseline
1050                                      -2.0
1051                                       2.0
1052                                       1.0
1053                                       0.0
1054                                      -1.0
...                                        ...
1397                                       4.0
1398                                       5.0
1399                                       4.0
1400                                       2.0
1401                                       3.0

[327 rows x 14 columns]

Pravallika

Safia